<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Layout Fijo vs Fluido</title>
<link rel="stylesheet" href="styleFluido.css" media="screen"charset="utf-8">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="corporativo">
    <div class="logo">
      <img src="imagen.png" alt="logo"></img>
    </div>
    <h1>Cabecera del Sitio Web</h1>
    <div class="menuPrincipal">
      <nav>
  				<a href="#">Inicio</a>
  				<a href="#">Cursos</a>
  				<a href="#">Contacto</a>
  			</nav>
    </div>

    </div>
  </div>

  <div class="menu">
  <ul>
      <li><a href="#">Opción1</a></li>
      <li>
        <a href="#">Opción2</a>
        <ul>
          <li><a href="#">Submenú 1</a></li>
          <li><a href="#">Submenú 2</a></li>
        </ul>
      </li>
      <li><a href="#">Opción3</a></li>
      <li><a href="#">Opción4</a></li>
  </ul>
  </div>
  <div class="MenuSecundario">
    <ul>
      <li>
        <a href="#">Enero</a>
        <ul>
          <li><a href="#">Submenú 1</a></li>
          <li><a href="#">Submenú 2</a></li>
        </ul>
      </li>
      <li><a href="#">Febrero</a>
        <ul>
          <li><a href="#">Submenú 3</a></li>
          <li><a href="#">Submenú 4</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="cuerpo">
    <h1>Titulo de la primera entrada</h1>
    <h2>Subtitulo de la primera entrada</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
     ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
       anim id est laborum.</p>
       <img src="blogs-bloguers.jpg" alt="logo1" width="100px"></img>
  </div>
  <div class="footer"> Copyright &copy;</div>
</div>
</body>
</html>
