<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Actividad LayOutFijovsFluido</title>
    <link rel="stylesheet" href=" styleFluidoContenido.css" media="screen"charset="utf-8">
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="imagen.png" alt="logo"></img>
      </div>
      <h1 class="cabecera">Cabecera del sitio Web</h1>
      <div class="menuPrincipal">
        <nav class="menu_Principal">
                 <ul>
                     <li><a class="boton_personalizado"href="#">Inicio</a></li>
                     <li><a class="boton_personalizado"href="#">Cursos</a></li>
                     <li><a class="boton_personalizado"href="#">Contacto</a></li>
                 </ul>
        </nav>
      </div>
    </header>
    <div class="MenuSecundario">
      <ul>
        <li>
          <a href="#">Enero</a>
        </li>
        <li><a href="#">Febrero</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="cuerpo">
        <h1>Titulo de la primera entrada</h1>
        <h2>Subtitulo de la primera entrada</h2><br>
        <p>publicado <time>10-10-2016</time>.</p><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
         ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
           anim id est laborum.</p>
          <figure>
          <img src="blogs-bloguers.jpg" alt="logo1" width="175px"><br>Esta es el caption de la imagen</br></img>
          </figure>
           <div class="Comentarios">Comentarios(0)</div>
      </div>
      <div class="entrada2">
        <h1>Titulo de la segunda entrada</h1>
        <h2>Subtitulo de la segunda entrada</h2><br>
        <p>publicado <time>10-10-2016</time>.</p><br>
        <p>Este es el texto de mi segunda entrada</p>
        <div class="Comentarios">Comentarios(0)</div>
      </div>
      </div>
      <footer class="footer"> Derechos Reservados 2016-2020</footer>

  </body>
</html>
